.nav{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: hsl(0, 0%, 20%);
    background-color: white;
    z-index: 25;
}